{{#> base className="public-landing" }}
<div class="container">
    <div class="row">
        <div class="col-12">
            {{> item-list collapseNumber="uno"}}
            {{> item-list collapseNumber="dos"}}
            {{> item-list collapseNumber="tres"}}
            {{> item-list collapseNumber="cuatro"}}
        </div>
    </div>
</div>

{{/ base }}