{{#> base className="public-landing" }}
    <div class="container">
        <div class="row">
            {{> public-component className="col-6" }}
            {{> public-component className="col-6" }}
        </div>
        Marico
    </div>
{{/ base }}