<footer class="mt-1">
    <div class="input-group d-flex justify-content-center">
        <div class="input-group-append align-items-baseline" id="button-addon4">
            <button class="btn btn-outline-secondary border-0 rounded-0" type="button"><i class="fas fa-user"></i><span class="d-block">Perfil</span></button>
            <button class="btn btn-outline-secondary border-0 rounded-0" type="button"><i class="fas fa-search"></i><span class="d-block">Buscar</span></button>
            <button class="btn btn-outline-secondary border-0 rounded-0" type="button"><i class="fas fa-arrow-up"></i><span class="d-block">Arriba</span></button>
        </div>
    </div>
</footer>