<content-tabs>
    <ul class="nav nav-tabs justify-content-center">
        <li class="nav-item w-50">
            <a class="nav-link active" href="#">Caracteristicas</a>
        </li>
        <li class="nav-item w-50">
            <a class="nav-link" href="#">Opiniones</a>
        </li>
    </ul>
</content-tabs>