<item-list>
    <div class="card mt-2">
        <img src="../../../assets/img/gvine.jpg" class="card-img-top" alt="...">
        <span>Ginebra Floral</span>
        <h2>G.Vine Floration</h2>
        <div class="icons">
            <i class="fas fa-star"></i>
            <i class="fas fa-kiss"></i>
            <i class="fas fa-heart"></i>
        </div>
        <i class="fas fa-chevron-down" data-toggle="collapse" href="#{{collapseNumber}}"></i>
        <div class="card-body collapse p-0 {{collapseNumber}}" id="{{collapseNumber}}">
            <p class="card-text p-4">Some quickkk example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
</item-list>