 <checkbox>
 <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck{{id_checkbox}}">
    <label class="form-check-label" for="exampleCheck{{id_checkbox}}">Check me out</label>
  </div>
  </checkbox>