<nav class="position-fixed w-75 h-100">
    <ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link text-white" href="#">Tonicas</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Ginebras</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </li>
    </ul>
</nav>