range-slider {
  .form-group {
    margin-top: em(12);

    input {
        background: rgba(144, 144, 144, 0.9);
        border-radius: 5px;
        height: 4px;
        margin-top: em(3);
        opacity: .9;
        -webkit-appearance: none;

        &:focus {
          outline: none;
        }

        &::before {
          content: attr(value);
          color: $black;
          font-weight: bold;
          margin-left: em(3);
          margin-top: em(10);
          position: absolute;        
        }
    }

    input::-webkit-slider-thumb
     {
      -webkit-appearance: none;
      width: 18px;
      height: 18px;
      border-radius: 50%; 
      background: black;
      cursor: pointer;
    }
    
    input::-moz-range-thumb {
      width: 18px;
      height: 18px;
      border: 0;
      border-radius: 50%;
      background: black;
      cursor: pointer;
    }
  }
}